[submodule "tools/gomut"]
	path = tools/gomut
	url = git@github.com:goropikari/gomut.git
[submodule "tools/gocov"]
	path = tools/gocov
	url = git@github.com:goropikari/gocov.git
[submodule "tools/goaaa"]
	path = tools/goaaa
	url = git@github.com:goropikari/goaaa.git
[submodule "tools/gocomment"]
	path = tools/gocomment
	url = git@github.com:goropikari/gocomment.git
[submodule "tools/gormalias"]
	path = tools/gormalias
	url = git@github.com:goropikari/gormalias.git
[submodule "tools/gostructfmt"]
	path = tools/gostructfmt
	url = git@github.com:goropikari/gostructfmt.git
[submodule "tools/code-strength"]
	path = tools/code-strength
	url = git@github.com:goropikari/code-strength.git
[submodule "tools/goreadable"]
	path = tools/goreadable
	url = git@github.com:goropikari/goreadable.git
[submodule "tools/git-br"]
	path = tools/git-br
	url = git@github.com:goropikari/git-br.git
[submodule "tools/git-wt"]
	path = tools/git-wt
	url = git@github.com:goropikari/git-wt.git
[submodule "tools/gotestrun"]
	path = tools/gotestrun
	url = git@github.com:goropikari/gotestrun.git
[submodule "tools/gonextuse"]
	path = tools/gonextuse
	url = git@github.com:goropikari/gonextuse.git
